@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Story+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/inter";        /* الوزن العادي 400 */
@import "@fontsource/inter/500.css"; /* Medium */
@import "@fontsource/inter/600.css"; /* SemiBold */
@import "@fontsource/inter/700.css"; /* Bold */


@tailwind base;
@tailwind components;
@tailwind utilities;


/*scroll hide*/
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE و Edge */
  scrollbar-width: none;     /* Firefox */
}
html {
  scroll-behavior: smooth;
}

